<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>ai.alex.narrative-runner</string>

  <key>ProgramArguments</key>
  <array>
    <string>__PNPM_ABSOLUTE_PATH__</string>
    <string>--dir</string>
    <string>__REPOSITORY_ABSOLUTE_PATH__</string>
    <string>--filter</string>
    <string>@surf/narrative-runner</string>
    <string>run</string>
    <string>run</string>
  </array>

  <key>WorkingDirectory</key>
  <string>__REPOSITORY_ABSOLUTE_PATH__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__NODE_BIN_ABSOLUTE_DIRECTORY__:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ThrottleInterval</key>
  <integer>30</integer>

  <key>StandardOutPath</key>
  <string>__LOG_DIRECTORY_ABSOLUTE_PATH__/narrative-runner.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIRECTORY_ABSOLUTE_PATH__/narrative-runner.stderr.log</string>
</dict>
</plist>
