<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>ai.alex.narrative-runner</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/env</string>
    <string>-i</string>
    <string>HOME=__HOME_ABSOLUTE_PATH__</string>
    <string>LANG=en_US.UTF-8</string>
    <string>PATH=__NODE_BIN_ABSOLUTE_DIRECTORY__:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <string>__NODE_ABSOLUTE_PATH__</string>
    <string>__RUNNER_GUARD_ABSOLUTE_PATH__</string>
    <string>--record</string>
    <string>__ACTIVATION_RECORD_ABSOLUTE_PATH__</string>
    <string>--command</string>
    <string>run</string>
  </array>

  <key>WorkingDirectory</key>
  <string>__REPOSITORY_ABSOLUTE_PATH__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ThrottleInterval</key>
  <integer>30</integer>
  <key>ExitTimeOut</key>
  <integer>__RUNNER_EXIT_TIMEOUT_SECONDS__</integer>

  <key>StandardOutPath</key>
  <string>__LOG_DIRECTORY_ABSOLUTE_PATH__/narrative-runner.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIRECTORY_ABSOLUTE_PATH__/narrative-runner.stderr.log</string>
</dict>
</plist>
